    <%= form_with(model: code) do |form| %>
        <% if code.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(code.errors.count, "error") %> prohibited this code from being saved:</h2>

            <ul>
                <% code.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>


        <div class="row">
            <div class="col">
                <div class="field form-group">
                    <%= form.label :title %>
                    <%= form.text_field :title, class: "form-control" %>
                </div>
            </div>
            <div class="col">
                <div class="field form-group">
                    <%= form.select :language, ['Default(text)', 'Ruby', 'Other'] %>
                </div>
            </div>
        </div>


        <div class="field form-group">
            <%= form.label :body %>
            <%= form.text_area :body, class: "form-control", :rows => "10", :cols => "200", style: 'width:100%;' %>
            <%= javascript_include_tag '/assets/codemirror' %>
            <%= stylesheet_link_tag '/assets/codemirror' %>



            <script type="text/javascript">
                var editor = CodeMirror.fromTextArea(myTextarea, {
                    lineNumbers: true
                });
                var myCodeMirror = CodeMirror(function(elt) {
            myTextArea.parentNode.replaceChild(elt, myTextArea);
            }, {value: myTextArea.value});
            </script>
        </div>
        
        <div class="actions">
            <%= form.submit %>
        </div>
    <% end %>
    